 * {
	/* layout */
	margin: 0px; padding: 0px;

	/* text */
	font-family: "맑은 고딕", Gothic, sans-serif;
}

body {
	width: 960px;
	margin: 0px auto;
	background-color: #E6E6E6;
}

a {
	text-decoration: none;
}

ul > li {
	list-style: none;
}

.outer-menu-item {
	display: block;
	width: 80px; height: 30px;
	padding: 5px 20px;
	text-align: center;
	line-height: 30px;
	float: left;
}

.outer-menu-item:hover {
	background-color: #000000;
	color: #FFFFFF;
}

input[type="text"]:focus {
	background-color: yellow;
}

#page-wrapper {
	background-color: #FFFFFF;
	margin-top: 40px;
	padding: 10px 20px;
}

#main-header {
	padding: 40px 50px;
}

#main-navigation {
	height: 40px;
	margin-bottom: 20px;
	border-top: 1px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
	overflow: hidden;
}

.pull-left {
	float: left;
	overflow: hidden;
}

.pull-right {
	height: 26px;
	padding: 7px;
	float: right;
	overflow: hidden;
}

.pull-right input{
	float: left;
}
.pull-right .input-search {
	display: block;
	width: 120px; height: 24px;
	padding-left: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 15px 0px 0px 15px;
}

.pull-right .input-search:focus {
	outline: 0;
}

.pull-right .input-search-submit {
	border: 1px solid #CCCCCC;
	border-radius: 0px 15px 15px 0px;
	height: 26px;
}

.master-title {
	font-size: 30px;
	color: #191919;
}

.master-description {
	font-size: 15px;
	color: #383838;
}

#content {
	overflow: hidden;
}

#main-section {
	width: 710px;
	float: left;
}

#main-aside {
	width: 200px;
	float: right;
}

article {
	padding: 0px 10px 20px 10px;
	border-bottom: 1px solid #C9C9C9;
}

.article-header {
	padding: 20px 0px;
}

.article-title {
	font-size: 25px;
}

.article-date {
	font-size: 13px;
}

.article-body {
	font-size: 14px;
}

.aside-list li a {
	font-size: 13px;
	color: orange;
}

.aside-list h3 {
	font-size: 15px;
	color: blue;
}
