/* initial settings */
* {
	padding: 0; margin: 0;
}

body {
	width: 960px;
	margin: 0px auto;
	font-family: "Times New Roman", serif;
}

li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

header {
	width: 900px; /* 960해볼것 */
	height: 80px;
	background-color: #F6F9D4;
	position: fixed;
	top: 0;
	padding: 40px 30px 0 30px;
}

#title {
	height: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: "Source Code Pro", serif;
}

header > nav {
	height: 40px;
	overflow: hidden;
}

#ctime {
	width: 250px; height: 36px;
	line-height: 36px;
	float: right;
	border: 1px dashed orange;
	border-radius: 15px;
	text-align: center;
}

.main-menu {
	display: block;
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #000000;
	text-decoration: underline;
}

#content {
	margin-top: 120px;
	padding: 10px;
}

footer {
	padding: 20px;
	width: 920px;
	background-color: #D2F299;
}

footer > p {
	font-weight: bold;
	text-align: center;
	font-family: "Slavo 27px"; 
}

.lab {
	padding: 10px;
	border: 1px solid #000000;
	margin-top: 10px;
}

.lab .gugudan {
	border: 1px solid #000000;
}

.lab .gugudan th {
	background-color: #b8b5ca;
}

.lab .gugudan td {
	padding: 5px;
	text-align: center;
}

#hangman {
	text-align: center;
}

#newgamearea {
	margin-top: 2em;
}

#clue, #guessstr {
	font-family: monospace;
	font-size: 2em;
	padding: 1em;
}

#target {
	background-color: yellow,
	color: blue;
}

#container {
	width: 400px;
	height: 400px;
	position: relative;
	background-color: yellow;
	z-index: -1;
}

#animate {
	width: 50px; height: 50px;
	position: absolute;
	top: 0; left: 0;
	background-color: red;
}
